<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Language" value="En_en"/>
        <add key="Path" value=""/>
        <add key="IsFirstStart" value="false"/>
        <add key="ScripterPreference" value="Scripter"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>